#header {
  @include background(url('../images/color-ribbon.png') 0 bottom repeat-x, linear-gradient(left, #231F20, #565759 22%, #231F20 57%, #818285));
  color: white;
  padding-bottom: 7px;
  #logo {
    margin-top: $grid-gutter-half;
    margin-bottom: $grid-gutter-half;
  }
  h1 {
    font-size: $font-size-h3;
    font-weight: 700;
    margin-top: 27px;
    text-transform: uppercase;
  }
}

#main {
  background-color: #fff;
  padding-top: $grid-gutter-width;
}

section {
  margin-bottom: $grid-gutter-half;
}

section.jumbotron {
  color: white;
  font-family: $font-family-serif;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

button {
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}

ul.facts {
  margin: 2em 0;
  padding: 0;
  @include clearfix();
  li {
    list-style-type: none;
    border-left-width: 2px;
    border-left-style: dotted;
    border-left-color: $color-blue;
    height: 10em;
    &.last {
      border-right: 2px dotted $color-blue;
    }
  }
  h3, h4 {
    font-weight: 700;
    text-transform: uppercase;
  }
  h3 {
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    font-size: 4em;
    margin-top: 0;
  }
  h4 {
    font-size: $font-size-base;
  }
}

.carousel-indicators {
  bottom: $grid-gutter-half !important;
  right: $grid-gutter-half;
  left: auto;
  width: auto;
}

@media all and (min-width: 701px) {
  #bbox-root {
    width: 700px;
    margin: 0 auto;
  }
}

// Set colors and gradients

.gradient-blue {
  @include gradient-blue();
}

.gradient-orange {
  @include gradient-orange();
}

.gradient-green {
  @include gradient-green();
}

.color-blue {
  color: $color-blue;
  border-color: $color-blue;
  > * {
    border-color: $color-blue;
  }
}

.color-orange {
  color: $color-orange;
  border-color: $color-orange;
  > * {
    border-color: $color-orange;
  }
}

.color-orange-dark {
  color: $color-orange-dark;
  border-color: $color-orange-dark;
  > * {
    border-color: $color-orange-dark;
  }
}

.color-green {
  color: $color-green;
  border-color: $color-green;
  > * {
    border-color: $color-green;
  }
}
.color-green-dark {
  color: $color-green-dark;
  border-color: $color-green-dark;
  > * {
    border-color: $color-green-dark;
  }
}

.color-pink {
  color: $color-pink;
  border-color: $color-pink;
  > * {
    border-color: $color-pink;
  }
}

.color-purple {
  color: $color-purple;
  border-color: $color-purple;
  > * {
    border-color: $color-purple;
  }
}