#header {
  @include background(url('../images/color-ribbon.png') 0 bottom repeat-x, linear-gradient(left, #231F20, #565759 22%, #231F20 57%, #818285));
  color: white;
  padding-bottom: 7px;
  .container {
    position: relative;
  }
  #logo {
    margin-top: $grid-gutter-half;
    margin-bottom: $grid-gutter-half;
  }
  h1 {
    font-size: $font-size-h3;
    font-weight: 700;
    margin-top: 27px;
    text-transform: uppercase;
  }
  #logo-85th {
    position: absolute;
    width: $grid-gutter-width;
    height: $grid-gutter-width;
    top: 27px;
    right: $grid-gutter-half;
    background: $gray-lighter none;
    color: $gray-dark;
    text-align: center;
    font-family: $font-family-serif;
  }
}

#main {
  background-color: #fff;
  padding-top: $grid-gutter-width;
  padding-bottom: 3em;
}

section {
  margin-bottom: $grid-gutter-half;
}

section.jumbotron {
  color: white;
  font-family: $font-family-serif;
  margin-bottom: 0;
}

section#teaser {
  div.img-container {
    @include breakpoint($screen-md-min) {
      width: 35%;
      float: left;
      margin-right: $grid-gutter-half;
      margin-bottom: 1em;
    }
  }
  div.txt-container {
    @include clearfix();
  }
}

a.btn {
  text-transform: uppercase;
  padding: .5em 4em;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

ul.facts {
  margin: 2em 0;
  padding: 0;
  font-family: $font-family-sans-condensed;
  @include clearfix();
  li {
    list-style-type: none;
    text-align: center;
    @include breakpoint(max-width $screen-md-min) {
      width: 60%;
      margin: $grid-gutter-width 20%;
    }
    @include breakpoint($screen-md-min) {
      border-left-width: 2px;
      border-left-style: dotted;
      border-left-color: $color-blue;
      height: 10em;
      text-align: left;
      &.last {
        border-right: 2px dotted $color-blue;
      }
    }
  }
  h3, h4 {
    font-weight: 700;
    text-transform: uppercase;
  }
  h3 {
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    font-size: 4em;
    margin-top: 0;
  }
  h4 {
    font-size: $font-size-base;
  }
}

.carousel-indicators {
  bottom: $grid-gutter-half !important;
  right: $grid-gutter-half;
  left: auto;
  width: auto;
}

#carousel-quotes {
  .carousel-indicators li {
  border-color: $gray-light;
    &.active {
      background-color: $gray-light;  
    }
  }
  p {
    margin: 0;
    color: $color-blue;
    font-family: $font-family-serif;
    &.quote {
      border-bottom: 2px dotted $color-blue;
      border-top: 2px dotted $color-blue;
      color: $text-color;
      font-size: $font-size-large;
      padding: $grid-gutter-half 0;
      font-style: italic;
    }
    &.person {
      text-transform: uppercase;
      margin-top: $grid-gutter-half;
    }
    &.organization {
      font-family: $font-family-base;
      text-transform: uppercase;
      font-size: $font-size-small;
    }
    &.headline {
      font-style: italic;
    }
  }
  .item div {
    padding: $grid-gutter-width 15%;
    @include breakpoint($screen-md-min) {
      &:nth-child(1) {
        padding-left: 2 * $grid-gutter-width;
        padding-right: $grid-gutter-half;
      }
      &:nth-child(2) {
        padding-left: $grid-gutter-half;
        padding-right: 2 * $grid-gutter-width;
      }
    }
  }
}

@media all and (min-width: 701px) {
  #bbox-root {
    width: 700px;
    margin: 0 auto;
  }
}

// Set colors and gradients

.gradient-blue {
  @include gradient-blue();
}

.gradient-orange {
  @include gradient-orange();
}

.gradient-green {
  @include gradient-green();
}

.color-blue {
  color: $color-blue;
  border-color: $color-blue;
  > * {
    border-color: $color-blue;
  }
}

.color-orange {
  color: $color-orange;
  border-color: $color-orange;
  > * {
    border-color: $color-orange;
  }
}

.color-orange-dark {
  color: $color-orange-dark;
  border-color: $color-orange-dark;
  > * {
    border-color: $color-orange-dark;
  }
}

.color-green {
  color: $color-green;
  border-color: $color-green;
  > * {
    border-color: $color-green;
  }
}
.color-green-dark {
  color: $color-green-dark;
  border-color: $color-green-dark;
  > * {
    border-color: $color-green-dark;
  }
}

.color-pink {
  color: $color-pink;
  border-color: $color-pink;
  > * {
    border-color: $color-pink;
  }
}

.color-purple {
  color: $color-purple;
  border-color: $color-purple;
  > * {
    border-color: $color-purple;
  }
}