body {
  font-family: $font-family-sans-serif;
  @include breakpoint($screen-desktop) {
    background: $gray-light none;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-serif;
  font-weight: normal;
}
h1 {
  font-size: $font-size-h1;
  line-height: normal;
}
h2 {
  @include adjust-font-size-to($font-size-h2);
}
p {
  @include trailer();
}

a {
  &:link {
    text-decoration: none;
    color: $brand-primary;
  }
  &:hover {
    text-decoration: none;
    color: $gray-darker;
  }
  &:visited {
    text-decoration: none;
    color: $brand-primary;
  }
}

#header {
  @include background(url('../images/color-ribbon.png') 0 bottom repeat-x, linear-gradient(left, #231F20, #565759 22%, #231F20 57%, #818285));
  color: white;
  padding-bottom: 7px;
  text-align: center;
  @include clearfix();
  .container {
    position: relative;
  }
  #logo, #logo-85th {
    padding: $grid-gutter-half;
  }
  h1 {
    font-family: $font-family-sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
  @include breakpoint($screen-tablet) {
    text-align: left;
    #logo {
      float: left;
    }
    h1 {
      float: left;
      margin-top: 19px;
      margin-left: 2 * $grid-gutter-width;
      width: 300px;
    }
    #logo-85th {
      float: right;
    }
  }
  @include breakpoint($screen-desktop) {
    h1 {
      width: auto;
    }
  }
}

#main {
  background-color: #fff;
}

.container {
  max-width: 1250px;
  @include breakpoint($screen-desktop) {
    margin: 0 auto;
  }
}

section {
  margin-bottom: $grid-gutter-width;
  &.headline {
    color: #fff;
    margin-bottom: 0;
    h2 {
      
    }
    padding: rhythm(1);
    @include breakpoint($screen-tablet) {
      h2 {
        
      }
      padding: rhythm(2) rhythm(4);
    }
    @include breakpoint($screen-desktop) {
      h2 {
        
      }
      padding: rhythm(1) rhythm(6);
    }
    
  }
}

#main img {
  width: 100%;
  max-height: auto;
}

a.btn {
  display: inline-block;
  @include gradient-pink();
  text-transform: uppercase;
  padding: .5em 4em;
  margin-top: $grid-gutter-width;
  color: #fff;
  text-decoration: none;
  &:hover {
    background: lighten($color-pink, 10) none;
  }
  @include trailer();
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

#teaser {
  #col-txt .inner {
    padding: $grid-gutter-half;
  }
  @include breakpoint($screen-tablet) {
    @include clearfix();
    .col {
      width: 50%;
      float: left;
    }
    #col-img .inner {
      padding: $grid-gutter-half;
    }
  }
}

ul.facts {
  @include clearfix();
  @include breakpoint($screen-tablet) {
    width: 770px;
    margin: 0 auto;
  }
  li {
    list-style-type: none;
    text-align: center;
    width: 40%;
    margin: 0.5em 30%;
    @include breakpoint($screen-tablet) {
      border-left-width: 2px;
      border-left-style: dotted;
      border-left-color: $color-blue;
      text-align: left;
      width: 120px;
      height: 120px;
      float: left;
      margin: 0;
      padding: 0 $grid-gutter-half;
      &.first {
        border-left: none;
      }
      
    }
    @include breakpoint($screen-desktop) {
      &.first {
        border-left: 2px dotted $color-blue;
      }
      &.last {
        border-right: 2px dotted $color-blue;
      }
    }
  }
  h3, h4 {
    font-family: $font-family-sans-condensed;
    font-weight: 700;
    text-transform: uppercase;
  }
  h3 {
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    font-size: 75px;
    line-height: 75px;
    letter-spacing: -5px;
    margin-top: 0;
  }
  h4 {
    margin-top: 4px;
    font-size: $font-size-base;
    line-height: $font-size-base;
  }
}


#quotes {
  padding: $grid-gutter-half;
  .col-first {
    margin-bottom: $grid-gutter-width;
  }
  @include breakpoint($screen-tablet) {
    @include clearfix();
    .col {
      width: 50%;
      float: left;
    }
    .col-first .inner {
      padding-left: 20%;
      padding-right: $grid-gutter-half;
    }
    .col-last .inner {
      padding-right: 20%;
      padding-left: $grid-gutter-half;
    }
  }
  p {
    margin: 0;
    color: $color-blue;
    font-family: $font-family-serif;
    font-size: 21px;
    line-height: 30px;
    &.quote {
      border-bottom: 2px dotted $color-blue;
      border-top: 2px dotted $color-blue;
      margin-bottom: $grid-gutter-half;
      color: $text-color;      
      padding: $grid-gutter-half 0;
      font-style: italic;
    }
    &.person {
      text-transform: uppercase;
      line-height: normal;
    }
    &.organization {
      font-family: $font-family-base;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 26px;
    }
    &.headline {
      font-style: italic;
      line-height: normal;
    }
  }
}

#give {
  margin-bottom: 0;
  a.btn {
    @include gradient-blue();
  }
}

// Customise slides js
.slides {
  position: relative;
}
.slidesjs-pagination {
  position: absolute;
  right: $grid-gutter-half;
  bottom: $grid-gutter-half;
  z-index: 9999;
  li {
    float: left;
    margin-left: 4px;
  }
  a {
    display: block;
    width: 12px;
    height: 12px;
    @include border-radius(12px);
    text-indent: -9999px;
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.4);
    &.active {
      background: #fff none;
    }
  }

}

@media all and (min-width: 701px) {
  #bbox-root {
    width: 700px;
    margin: 0 auto;
  }
}

// Set colors and gradients

.gradient-blue {
  @include gradient-blue();
}

.gradient-orange {
  @include gradient-orange();
}

.gradient-green {
  @include gradient-green();
}
.gradient-pink {
  @include gradient-pink();
}

.color-blue {
  color: $color-blue;
  border-color: $color-blue;
  > * {
    border-color: $color-blue;
  }
}

.color-orange {
  color: $color-orange;
  border-color: $color-orange;
  > * {
    border-color: $color-orange;
  }
}

.color-orange-dark {
  color: $color-orange-dark;
  border-color: $color-orange-dark;
  > * {
    border-color: $color-orange-dark;
  }
}

.color-green {
  color: $color-green;
  border-color: $color-green;
  > * {
    border-color: $color-green;
  }
}
.color-green-dark {
  color: $color-green-dark;
  border-color: $color-green-dark;
  > * {
    border-color: $color-green-dark;
  }
}

.color-pink {
  color: $color-pink;
  border-color: $color-pink;
  > * {
    border-color: $color-pink;
  }
}

.color-purple {
  color: $color-purple;
  border-color: $color-purple;
  > * {
    border-color: $color-purple;
  }
}