@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/* line 1, ../sass/_custom-styles.scss */
#header {
  background: url("../images/color-ribbon.png") 0 bottom repeat-x, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzMWYyMCIvPjxzdG9wIG9mZnNldD0iMjIlIiBzdG9wLWNvbG9yPSIjNTY1NzU5Ii8+PHN0b3Agb2Zmc2V0PSI1NyUiIHN0b3AtY29sb3I9IiMyMzFmMjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MTgyODUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: url("../images/color-ribbon.png") 0 bottom repeat-x, -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #231f20), color-stop(22%, #565759), color-stop(57%, #231f20), color-stop(100%, #818285));
  background: url("../images/color-ribbon.png") 0 bottom repeat-x, -moz-linear-gradient(left, #231f20, #565759 22%, #231f20 57%, #818285);
  background: url("../images/color-ribbon.png") 0 bottom repeat-x, -webkit-linear-gradient(left, #231f20, #565759 22%, #231f20 57%, #818285);
  background: url("../images/color-ribbon.png") 0 bottom repeat-x, linear-gradient(to right, #231f20, #565759 22%, #231f20 57%, #818285);
  color: white;
  padding-bottom: 7px;
}
/* line 5, ../sass/_custom-styles.scss */
#header .container {
  position: relative;
}
/* line 8, ../sass/_custom-styles.scss */
#header #logo {
  margin-top: 15px;
  margin-bottom: 15px;
}
/* line 12, ../sass/_custom-styles.scss */
#header h1 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 27px;
  text-transform: uppercase;
}
/* line 18, ../sass/_custom-styles.scss */
#header #logo-85th {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 27px;
  right: 15px;
  background: #eeeeee none;
  color: #333333;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 31, ../sass/_custom-styles.scss */
#main {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 3em;
}

/* line 37, ../sass/_custom-styles.scss */
.jumbotron {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0;
}

/* line 43, ../sass/_custom-styles.scss */
#teaser,
#carousel-3 {
  margin-bottom: 30px;
}

/* line 48, ../sass/_custom-styles.scss */
a.btn {
  text-transform: uppercase;
  padding: .5em 4em;
  margin-top: 30px;
}

/* line 54, ../sass/_custom-styles.scss */
.align-center {
  text-align: center;
}

/* line 57, ../sass/_custom-styles.scss */
.align-right {
  text-align: right;
}

/* line 61, ../sass/_custom-styles.scss */
ul.facts {
  margin: 2em 0;
  padding: 0;
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
  *zoom: 1;
}
/* line 66, ../sass/_custom-styles.scss */
ul.facts li {
  list-style-type: none;
  text-align: center;
}
@media (max-width: 769px) {
  /* line 66, ../sass/_custom-styles.scss */
  ul.facts li {
    width: 60%;
    margin: 30px 20%;
  }
}
@media (min-width: 769px) {
  /* line 66, ../sass/_custom-styles.scss */
  ul.facts li {
    border-left-width: 2px;
    border-left-style: dotted;
    border-left-color: #00a9d5;
    height: 10em;
    text-align: left;
  }
  /* line 79, ../sass/_custom-styles.scss */
  ul.facts li.last {
    border-right: 2px dotted #00a9d5;
  }
}
/* line 84, ../sass/_custom-styles.scss */
ul.facts h3, ul.facts h4 {
  font-weight: 700;
  text-transform: uppercase;
}
/* line 88, ../sass/_custom-styles.scss */
ul.facts h3 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  font-size: 4em;
  margin-top: 0;
}
/* line 94, ../sass/_custom-styles.scss */
ul.facts h4 {
  font-size: 14px;
}

/* line 99, ../sass/_custom-styles.scss */
.carousel-indicators {
  bottom: 15px !important;
  right: 15px;
  left: auto;
  width: auto;
}

/* line 106, ../sass/_custom-styles.scss */
#quotes {
  padding-bottom: 3em;
  padding-top: 3em;
}
/* line 109, ../sass/_custom-styles.scss */
#quotes > div {
  padding-left: 30px;
  padding-right: 30px;
}
/* line 113, ../sass/_custom-styles.scss */
#quotes p {
  margin: 0;
  color: #00a9d5;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 117, ../sass/_custom-styles.scss */
#quotes p.quote {
  border-bottom: 2px dotted #00a9d5;
  border-top: 2px dotted #00a9d5;
  color: #222222;
  font-size: 18px;
  padding: 15px 0;
  font-style: italic;
}
/* line 125, ../sass/_custom-styles.scss */
#quotes p.person {
  text-transform: uppercase;
  margin-top: 15px;
}
/* line 129, ../sass/_custom-styles.scss */
#quotes p.organization {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 134, ../sass/_custom-styles.scss */
#quotes p.headline {
  font-style: italic;
}

@media all and (min-width: 701px) {
  /* line 141, ../sass/_custom-styles.scss */
  #bbox-root {
    width: 700px;
    margin: 0 auto;
  }
}
/* line 149, ../sass/_custom-styles.scss */
.gradient-blue {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTc4MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDBjY2VhIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA1NzgzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #005783), color-stop(50%, #00ccea), color-stop(100%, #005783));
  background: -moz-linear-gradient(left, #005783, #00ccea, #005783);
  background: -webkit-linear-gradient(left, #005783, #00ccea, #005783);
  background: linear-gradient(to right, #005783, #00ccea, #005783);
}

/* line 153, ../sass/_custom-styles.scss */
.gradient-orange {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViNjAyZSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmNiNDI3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWI2MDJlIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eb602e), color-stop(50%, #fcb427), color-stop(100%, #eb602e));
  background: -moz-linear-gradient(left, #eb602e, #fcb427, #eb602e);
  background: -webkit-linear-gradient(left, #eb602e, #fcb427, #eb602e);
  background: linear-gradient(to right, #eb602e, #fcb427, #eb602e);
}

/* line 157, ../sass/_custom-styles.scss */
.gradient-green {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzMzNiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNDBhZTQ5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA3MzM2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #007336), color-stop(50%, #40ae49), color-stop(100%, #007336));
  background: -moz-linear-gradient(left, #007336, #40ae49, #007336);
  background: -webkit-linear-gradient(left, #007336, #40ae49, #007336);
  background: linear-gradient(to right, #007336, #40ae49, #007336);
}

/* line 160, ../sass/_custom-styles.scss */
.gradient-pink {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3MWM4ZCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWMwMDhjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjcxYzhkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b71c8d), color-stop(50%, #ec008c), color-stop(100%, #b71c8d));
  background: -moz-linear-gradient(left, #b71c8d, #ec008c, #b71c8d);
  background: -webkit-linear-gradient(left, #b71c8d, #ec008c, #b71c8d);
  background: linear-gradient(to right, #b71c8d, #ec008c, #b71c8d);
}

/* line 164, ../sass/_custom-styles.scss */
.color-blue {
  color: #00a9d5;
  border-color: #00a9d5;
}
/* line 167, ../sass/_custom-styles.scss */
.color-blue > * {
  border-color: #00a9d5;
}

/* line 172, ../sass/_custom-styles.scss */
.color-orange {
  color: #FCB427;
  border-color: #FCB427;
}
/* line 175, ../sass/_custom-styles.scss */
.color-orange > * {
  border-color: #FCB427;
}

/* line 180, ../sass/_custom-styles.scss */
.color-orange-dark {
  color: #EB602E;
  border-color: #EB602E;
}
/* line 183, ../sass/_custom-styles.scss */
.color-orange-dark > * {
  border-color: #EB602E;
}

/* line 188, ../sass/_custom-styles.scss */
.color-green {
  color: #40AE49;
  border-color: #40AE49;
}
/* line 191, ../sass/_custom-styles.scss */
.color-green > * {
  border-color: #40AE49;
}

/* line 195, ../sass/_custom-styles.scss */
.color-green-dark {
  color: #007336;
  border-color: #007336;
}
/* line 198, ../sass/_custom-styles.scss */
.color-green-dark > * {
  border-color: #007336;
}

/* line 203, ../sass/_custom-styles.scss */
.color-pink {
  color: #B71C8D;
  border-color: #B71C8D;
}
/* line 206, ../sass/_custom-styles.scss */
.color-pink > * {
  border-color: #B71C8D;
}

/* line 211, ../sass/_custom-styles.scss */
.color-purple {
  color: #57357F;
  border-color: #57357F;
}
/* line 214, ../sass/_custom-styles.scss */
.color-purple > * {
  border-color: #57357F;
}
