@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_custom-styles.scss */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (min-width: 960px) {
  /* line 1, ../sass/_custom-styles.scss */
  body {
    background: #777777 none;
  }
}

/* line 7, ../sass/_custom-styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
}

/* line 11, ../sass/_custom-styles.scss */
h1 {
  font-size: 32px;
  line-height: normal;
}

/* line 15, ../sass/_custom-styles.scss */
h2 {
  font-size: 1.64286em;
  line-height: 1.82609em;
}

/* line 18, ../sass/_custom-styles.scss */
p {
  margin-bottom: 1.5em;
}

/* line 23, ../sass/_custom-styles.scss */
a:link {
  text-decoration: none;
  color: #00a9d5;
}
/* line 27, ../sass/_custom-styles.scss */
a:hover {
  text-decoration: none;
  color: #222222;
}
/* line 31, ../sass/_custom-styles.scss */
a:visited {
  text-decoration: none;
  color: #00a9d5;
}

/* line 37, ../sass/_custom-styles.scss */
#header {
  background: url("../images/color-ribbon.png") 0 bottom repeat-x, url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzMWYyMCIvPjxzdG9wIG9mZnNldD0iMjIlIiBzdG9wLWNvbG9yPSIjNTY1NzU5Ii8+PHN0b3Agb2Zmc2V0PSI1NyUiIHN0b3AtY29sb3I9IiMyMzFmMjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MTgyODUiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: url("../images/color-ribbon.png") 0 bottom repeat-x, -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #231f20), color-stop(22%, #565759), color-stop(57%, #231f20), color-stop(100%, #818285));
  background: url("../images/color-ribbon.png") 0 bottom repeat-x, -moz-linear-gradient(left, #231f20, #565759 22%, #231f20 57%, #818285);
  background: url("../images/color-ribbon.png") 0 bottom repeat-x, -webkit-linear-gradient(left, #231f20, #565759 22%, #231f20 57%, #818285);
  background: url("../images/color-ribbon.png") 0 bottom repeat-x, linear-gradient(to right, #231f20, #565759 22%, #231f20 57%, #818285);
  color: white;
  padding-bottom: 7px;
  text-align: center;
  overflow: hidden;
  *zoom: 1;
}
/* line 43, ../sass/_custom-styles.scss */
#header .container {
  position: relative;
}
/* line 46, ../sass/_custom-styles.scss */
#header #logo {
  padding: 15px 15px 10px 15px;
}
/* line 49, ../sass/_custom-styles.scss */
#header h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  /* line 37, ../sass/_custom-styles.scss */
  #header {
    text-align: left;
  }
  /* line 56, ../sass/_custom-styles.scss */
  #header #logo {
    float: left;
    padding-top: 26px;
    padding-right: 60px;
  }
  /* line 61, ../sass/_custom-styles.scss */
  #header #site-name {
    float: left;
    width: 300px;
    padding-top: 23px;
  }
}
@media (min-width: 960px) {
  /* line 37, ../sass/_custom-styles.scss */
  #header {
    position: relative;
  }
  /* line 69, ../sass/_custom-styles.scss */
  #header #site-name {
    position: absolute;
    top: 46px;
    padding-top: 0;
    width: 100%;
    text-align: center;
  }
}

/* line 79, ../sass/_custom-styles.scss */
#main {
  background-color: #fff;
  padding-bottom: 3em;
}

/* line 84, ../sass/_custom-styles.scss */
.container {
  max-width: 1250px;
}
@media (min-width: 960px) {
  /* line 84, ../sass/_custom-styles.scss */
  .container {
    margin: 0 auto;
  }
}

/* line 91, ../sass/_custom-styles.scss */
section {
  margin-bottom: 30px;
}
/* line 93, ../sass/_custom-styles.scss */
section#slider-2, section#slider-3 {
  margin-bottom: 0;
}
/* line 96, ../sass/_custom-styles.scss */
section.headline {
  color: #fff;
  margin-bottom: 0;
  padding: 1.5em;
}
@media (min-width: 768px) {
  /* line 96, ../sass/_custom-styles.scss */
  section.headline {
    padding: 3em 6em;
  }
}
@media (min-width: 960px) {
  /* line 96, ../sass/_custom-styles.scss */
  section.headline {
    padding: 1.5em 9em;
  }
}
/* line 108, ../sass/_custom-styles.scss */
section#headline-1 {
  padding-top: 0;
}
/* line 110, ../sass/_custom-styles.scss */
section#headline-1 h2 {
  padding-top: 1.5em;
}

/* line 116, ../sass/_custom-styles.scss */
#main img {
  width: 100%;
  max-height: auto;
}

/* line 121, ../sass/_custom-styles.scss */
a.btn {
  display: inline-block;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3MWM4ZCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWMwMDhjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjcxYzhkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b71c8d), color-stop(50%, #ec008c), color-stop(100%, #b71c8d));
  background: -moz-linear-gradient(left, #b71c8d, #ec008c, #b71c8d);
  background: -webkit-linear-gradient(left, #b71c8d, #ec008c, #b71c8d);
  background: linear-gradient(to right, #b71c8d, #ec008c, #b71c8d);
  text-transform: uppercase;
  padding: .5em 4em;
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1.5em;
}
/* line 129, ../sass/_custom-styles.scss */
a.btn:hover {
  background: #de28ad none;
}

/* line 135, ../sass/_custom-styles.scss */
.align-center {
  text-align: center;
}

/* line 138, ../sass/_custom-styles.scss */
.align-right {
  text-align: right;
}

/* line 143, ../sass/_custom-styles.scss */
#teaser #col-txt .inner {
  padding: 15px;
  text-align: justify;
}
@media (min-width: 768px) {
  /* line 142, ../sass/_custom-styles.scss */
  #teaser {
    overflow: hidden;
    *zoom: 1;
  }
  /* line 149, ../sass/_custom-styles.scss */
  #teaser .col {
    float: left;
    width: 50%;
  }
  /* line 152, ../sass/_custom-styles.scss */
  #teaser .col .inner {
    padding: 15px;
  }
  /* line 157, ../sass/_custom-styles.scss */
  #teaser #col-txt .inner {
    padding-right: 30px;
  }
}
@media (min-width: 1250px) {
  /* line 163, ../sass/_custom-styles.scss */
  #teaser .col .inner {
    padding: 0;
  }
  /* line 166, ../sass/_custom-styles.scss */
  #teaser #col-img {
    width: 582px;
    padding-top: 45px;
  }
  /* line 169, ../sass/_custom-styles.scss */
  #teaser #col-img .inner {
    padding-left: 45px;
  }
  /* line 173, ../sass/_custom-styles.scss */
  #teaser #col-txt {
    font-size: 18px;
    line-height: 32px;
    width: 450px;
    padding: 105px 109px 0 109px;
  }
  /* line 178, ../sass/_custom-styles.scss */
  #teaser #col-txt .inner {
    padding: 0;
  }
}

/* line 185, ../sass/_custom-styles.scss */
ul.facts {
  overflow: hidden;
  *zoom: 1;
}
@media (min-width: 768px) {
  /* line 185, ../sass/_custom-styles.scss */
  ul.facts {
    width: 770px;
    margin: 0 auto;
  }
}
/* line 191, ../sass/_custom-styles.scss */
ul.facts li {
  list-style-type: none;
  text-align: center;
  width: 40%;
  margin: 0.5em 30%;
}
@media (min-width: 768px) {
  /* line 191, ../sass/_custom-styles.scss */
  ul.facts li {
    border-left-width: 2px;
    border-left-style: dotted;
    border-left-color: #00a9d5;
    text-align: left;
    width: 120px;
    height: 120px;
    float: left;
    margin: 0;
    padding: 0 15px;
  }
  /* line 206, ../sass/_custom-styles.scss */
  ul.facts li.first {
    border-left: none;
  }
}
@media (min-width: 960px) {
  /* line 212, ../sass/_custom-styles.scss */
  ul.facts li.first {
    border-left: 2px dotted #00a9d5;
  }
  /* line 215, ../sass/_custom-styles.scss */
  ul.facts li.last {
    border-right: 2px dotted #00a9d5;
  }
}
/* line 220, ../sass/_custom-styles.scss */
ul.facts h3, ul.facts h4 {
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 225, ../sass/_custom-styles.scss */
ul.facts h3 {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  font-size: 75px;
  line-height: 75px;
  letter-spacing: -5px;
  margin-top: 0;
}
/* line 233, ../sass/_custom-styles.scss */
ul.facts h4 {
  margin-top: 4px;
  font-size: 14px;
  line-height: 14px;
}

/* line 241, ../sass/_custom-styles.scss */
#quotes {
  padding: 15px;
}
/* line 243, ../sass/_custom-styles.scss */
#quotes .col-first {
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  /* line 241, ../sass/_custom-styles.scss */
  #quotes {
    overflow: hidden;
    *zoom: 1;
  }
  /* line 248, ../sass/_custom-styles.scss */
  #quotes .col {
    width: 50%;
    float: left;
  }
  /* line 252, ../sass/_custom-styles.scss */
  #quotes .col-first .inner {
    padding-left: 20%;
    padding-right: 15px;
  }
  /* line 256, ../sass/_custom-styles.scss */
  #quotes .col-last .inner {
    padding-right: 20%;
    padding-left: 15px;
  }
}
@media (min-width: 1250px) {
  /* line 262, ../sass/_custom-styles.scss */
  #quotes .col-first .inner {
    padding-left: 186px;
    padding-right: 57px;
  }
  /* line 266, ../sass/_custom-styles.scss */
  #quotes .col-last .inner {
    padding-left: 57px;
    padding-right: 180px;
  }
}
/* line 271, ../sass/_custom-styles.scss */
#quotes p {
  margin: 0;
  color: #00a9d5;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 21px;
  line-height: 30px;
}
/* line 277, ../sass/_custom-styles.scss */
#quotes p.quote {
  border-bottom: 2px dotted #00a9d5;
  border-top: 2px dotted #00a9d5;
  margin-bottom: 15px;
  color: #222222;
  padding: 15px 0;
  font-style: italic;
}
/* line 285, ../sass/_custom-styles.scss */
#quotes p.person {
  text-transform: uppercase;
  line-height: normal;
}
/* line 289, ../sass/_custom-styles.scss */
#quotes p.organization {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 26px;
}
/* line 295, ../sass/_custom-styles.scss */
#quotes p.headline {
  font-style: italic;
  line-height: normal;
}

/* line 302, ../sass/_custom-styles.scss */
#give {
  margin-bottom: 0;
}
/* line 304, ../sass/_custom-styles.scss */
#give a.btn {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTc4MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDBiMmQzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA1NzgzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #005783), color-stop(50%, #00b2d3), color-stop(100%, #005783));
  background: -moz-linear-gradient(left, #005783, #00b2d3, #005783);
  background: -webkit-linear-gradient(left, #005783, #00b2d3, #005783);
  background: linear-gradient(to right, #005783, #00b2d3, #005783);
}

/* line 310, ../sass/_custom-styles.scss */
.slides {
  position: relative;
}

/* line 313, ../sass/_custom-styles.scss */
.slidesjs-pagination {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 9999;
}
/* line 318, ../sass/_custom-styles.scss */
.slidesjs-pagination li {
  float: left;
  margin-left: 4px;
}
/* line 322, ../sass/_custom-styles.scss */
.slidesjs-pagination a {
  display: block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  text-indent: -9999px;
  background: rgba(255, 255, 255, 0.4);
}
/* line 329, ../sass/_custom-styles.scss */
.slidesjs-pagination a.active {
  background: #fff none;
}

@media all and (min-width: 701px) {
  /* line 337, ../sass/_custom-styles.scss */
  #bbox-root {
    width: 700px;
    margin: 0 auto;
  }
}
/* line 345, ../sass/_custom-styles.scss */
.gradient-blue {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTc4MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDBiMmQzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA1NzgzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #005783), color-stop(50%, #00b2d3), color-stop(100%, #005783));
  background: -moz-linear-gradient(left, #005783, #00b2d3, #005783);
  background: -webkit-linear-gradient(left, #005783, #00b2d3, #005783);
  background: linear-gradient(to right, #005783, #00b2d3, #005783);
}

/* line 349, ../sass/_custom-styles.scss */
.gradient-orange {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViNjAyZSIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmNiNDI3Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWI2MDJlIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #eb602e), color-stop(50%, #fcb427), color-stop(100%, #eb602e));
  background: -moz-linear-gradient(left, #eb602e, #fcb427, #eb602e);
  background: -webkit-linear-gradient(left, #eb602e, #fcb427, #eb602e);
  background: linear-gradient(to right, #eb602e, #fcb427, #eb602e);
}

/* line 353, ../sass/_custom-styles.scss */
.gradient-green {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNzMzNiIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNDBhZTQ5Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA3MzM2Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #007336), color-stop(50%, #40ae49), color-stop(100%, #007336));
  background: -moz-linear-gradient(left, #007336, #40ae49, #007336);
  background: -webkit-linear-gradient(left, #007336, #40ae49, #007336);
  background: linear-gradient(to right, #007336, #40ae49, #007336);
}

/* line 356, ../sass/_custom-styles.scss */
.gradient-pink {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3MWM4ZCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWMwMDhjIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjcxYzhkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b71c8d), color-stop(50%, #ec008c), color-stop(100%, #b71c8d));
  background: -moz-linear-gradient(left, #b71c8d, #ec008c, #b71c8d);
  background: -webkit-linear-gradient(left, #b71c8d, #ec008c, #b71c8d);
  background: linear-gradient(to right, #b71c8d, #ec008c, #b71c8d);
}

/* line 360, ../sass/_custom-styles.scss */
.color-blue {
  color: #00a9d5;
  border-color: #00a9d5;
}
/* line 363, ../sass/_custom-styles.scss */
.color-blue > * {
  border-color: #00a9d5;
}

/* line 368, ../sass/_custom-styles.scss */
.color-orange {
  color: #FCB427;
  border-color: #FCB427;
}
/* line 371, ../sass/_custom-styles.scss */
.color-orange > * {
  border-color: #FCB427;
}

/* line 376, ../sass/_custom-styles.scss */
.color-orange-dark {
  color: #EB602E;
  border-color: #EB602E;
}
/* line 379, ../sass/_custom-styles.scss */
.color-orange-dark > * {
  border-color: #EB602E;
}

/* line 384, ../sass/_custom-styles.scss */
.color-green {
  color: #40AE49;
  border-color: #40AE49;
}
/* line 387, ../sass/_custom-styles.scss */
.color-green > * {
  border-color: #40AE49;
}

/* line 391, ../sass/_custom-styles.scss */
.color-green-dark {
  color: #007336;
  border-color: #007336;
}
/* line 394, ../sass/_custom-styles.scss */
.color-green-dark > * {
  border-color: #007336;
}

/* line 399, ../sass/_custom-styles.scss */
.color-pink {
  color: #B71C8D;
  border-color: #B71C8D;
}
/* line 402, ../sass/_custom-styles.scss */
.color-pink > * {
  border-color: #B71C8D;
}

/* line 407, ../sass/_custom-styles.scss */
.color-purple {
  color: #57357F;
  border-color: #57357F;
}
/* line 410, ../sass/_custom-styles.scss */
.color-purple > * {
  border-color: #57357F;
}

/* line 416, ../sass/_custom-styles.scss */
#giving-form .content {
  padding: 15px;
}
@media (min-width: 960px) {
  /* line 416, ../sass/_custom-styles.scss */
  #giving-form .content {
    padding: 30px 90px 0 90px;
  }
}
/* line 422, ../sass/_custom-styles.scss */
#giving-form .lead {
  font-size: 1.07143em;
  line-height: 1.4em;
}
@media (min-width: 960px) {
  /* line 422, ../sass/_custom-styles.scss */
  #giving-form .lead {
    font-size: 1.42857em;
    line-height: 2.1em;
  }
}
/* line 428, ../sass/_custom-styles.scss */
#giving-form footer {
  margin-bottom: 1.5em;
}
/* line 431, ../sass/_custom-styles.scss */
#giving-form input#bboxdonation_btnSubmit {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTc4MyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDBiMmQzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDA1NzgzIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #005783), color-stop(50%, #00b2d3), color-stop(100%, #005783));
  background: -moz-linear-gradient(left, #005783, #00b2d3, #005783);
  background: -webkit-linear-gradient(left, #005783, #00b2d3, #005783);
  background: linear-gradient(to right, #005783, #00b2d3, #005783);
}

/* line 437, ../sass/_custom-styles.scss */
img#scroll-icon {
  width: 50px;
  height: 43px;
  margin: -22px auto 0 auto;
}

@media (min-width: 1250px) {
  /* line 445, ../sass/_custom-styles.scss */
  section.headline {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  /* line 449, ../sass/_custom-styles.scss */
  #headline-1 {
    padding-left: 195px;
    padding-right: 195px;
  }

  /* line 453, ../sass/_custom-styles.scss */
  #headline-2 {
    padding-left: 118px;
    padding-right: 118px;
  }

  /* line 457, ../sass/_custom-styles.scss */
  #headline-3 {
    padding-left: 175px;
    padding-right: 175px;
  }

  /* line 461, ../sass/_custom-styles.scss */
  #headline-4 {
    padding-left: 150px;
    padding-right: 150px;
  }

  /* line 465, ../sass/_custom-styles.scss */
  section#facts {
    padding: 26px 0;
  }

  /* line 468, ../sass/_custom-styles.scss */
  ul.facts {
    width: 912px;
  }
  /* line 470, ../sass/_custom-styles.scss */
  ul.facts li {
    padding: 0 25px;
  }
  /* line 472, ../sass/_custom-styles.scss */
  ul.facts li.first {
    width: 170px;
  }
  /* line 476, ../sass/_custom-styles.scss */
  ul.facts h3 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -3px;
  }
}
/* line 106, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.5em;
}
